
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Carrera</th>
                <th scope="col">Celular</th>
                <th scope="col">Fecha inicio</th>
                <th scope="col">Proyectos</th>
            </tr>
        </thead>
        <tbody>
            <% if (arrayStudent.length > 0) { %>
                <% arrayStudent.forEach(element => { %>
                    <tr>
                        <th scope="row"><%= element._id %>  </th>
                        <td><%= element.name.fName +" " + element.name.sName + " " + element.name.fLastName + " " + element.name.sLastName%></td>
                        <td><%= element.career %></td>
                        <td><%= element.movil %></td>
                        <td><%= element.inProyect %></td>
                        <td><%= element.proyect %></td>
                        <td>@mdo</td>
                    </tr>
                <% }) %>
            <% } %>            
        </tbody>
    </table>

    
    Estudiantes
</div>